@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-playwrite {
  font-family: 'Playwrite', serif;
}

.text-shadow-black {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
}

body {
  background-color: #131313;
}
